[Unit]
Description=Tundra-CLAT
After=network.target

[Service]
Type=simple
NoNewPrivileges=true
WorkingDirectory=/
ExecStart=/bin/bash /usr/local/etc/tundra-clat/start-tundra.sh
ExecStop=/bin/bash /usr/local/etc/tundra-clat/stop-tundra.sh

[Install]
WantedBy=multi-user.target
